*.DS_Store
emacs/.emacs.d/places
emacs/.emacs.d/.edbi-ds-history
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list/*
emacs/.emacs.d/backups/*
emacs/.emacs.d/%backup%*
emacs/.emacs.d/eshell/*
emacs/.emacs.d/elpa/*
emacs/.emacs.d/helm-adaptive-history
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/recentf
emacs/.emacs.d/savehist
emacs/.emacs.d/saveplace
emacs/.emacs.d/server/*
emacs/.emacs.d/bookmarks
*.elc
*.cache
