*.DS_Store
*.cache
*.elc
.emacs.d/%backup%*
.emacs.d/.edbi-ds-history
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/*
.emacs.d/backups/*
.emacs.d/bookmarks
.emacs.d/docsets
.emacs.d/elpa/*
.emacs.d/eshell/*
.emacs.d/helm-adaptive-history
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf
.emacs.d/savehist
.emacs.d/saveplace
.emacs.d/server/*
